.footer-container{
    display: flex;
    flex-direction: column;
    height:300px;
    justify-content: space-around;
    background-color: rgb(3, 3, 3);
    border-radius: 10px;
    margin: 25px;
}


.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.footer-item1 {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.footer-item1>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:lightgray;
}
.footer-item1-item{
    width: 460px;
    display: flex;
    justify-content: space-around;
}
.footer-item1-item>input{
    width: 230px;
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
}
.footer-item1-item>button{
    width: 200px;
    height: 35px;
    border-radius: 3px;
    border:none;
    background-color:lightgray;
    color: black;
}
.footer-item{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.footer-item>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 110px;
    color: lightgray;
}

.footer-item>a{
    text-decoration: none;
    margin-left: 110px;
    color: lightgray;
}